modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["python3", "run", "ollama"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_REOWN_PROJECT_ID = "754dd968bf51f7bccf3d34ac6dfa075c"
HTTP_URL_SOL = "https://solana-mainnet.g.alchemy.com/v2/a-Zok7-jnXTd0r5d2pxrf"
HTTP_URL = "https://eth-mainnetbeacon.g.alchemy.com/v2/a-Zok7-jnXTd0r5d2pxrf"
SOLANA_TREASURY = "8z5D9jvzQgRwkEBqa9HzL3D1riFkHZ3i1UrxRTKXgEF9"
NEW_SOLANA_AUTHORITY = "8z5D9jvzQgRwkEBqa9HzL3D1riFkHZ3i1UrxRTKXgEF9"
HELIUS_HTTP_URL = "https://mainnet.helius-rpc.com/?api-key=a24bbb32-39d5-4edd-aa84-e1af1fa4a05b"
HELIUS_SOLANA_PARSE_TRANSACTION = "https://api-mainnet.helius-rpc.com/v0/transactions/?api-key=a24bbb32-39d5-4edd-aa84-e1af1fa4a05b"
HELIUS_PARSE_TRANSACTION_HISTORY_URL = "https://api-mainnet.helius-rpc.com/v0/addresses/{address}/transactions/?api-key=a24bbb32-39d5-4edd-aa84-e1af1fa4a05b"
VITE_HELIUS_RPC_URL = "https://devnet.helius-rpc.com/?api-key=a24bbb32-39d5-4edd-aa84-e1af1fa4a05b"
VITE_TREASURY_WALLET = "8z5D9jvzQgRwkEBqa9HzL3D1riFkHZ3i1UrxRTKXgEF9"
VITE_STACK_PROJECT_ID = "d0ced9aa-3c9e-4ab0-94f7-48d1ddc29073"
VITE_STACK_PUBLISHABLE_CLIENT_KEY = "pck_hjcfpnw3qp75h7jew7vq4bpa16a1pkke6r4yjcbw8v93g"

[userenv.development]

[userenv.production]
